.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

@font-face {
    font-family: 'Roboto-Black';
    src:url('/static/fonts/Roboto-Black.ttf');
	font-weight: 900;
}

@font-face {
    font-family:'Roboto';
    src:url('/static/fonts/Roboto-Regular.ttf');
	font-weight: 400;
}

@font-face {
    font-family:'Roboto-Bold';
    src:url('/static/fonts/Roboto-Bold.ttf');
	font-weight: 700;
}

