/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #e7198b;
  --ifm-color-primary-dark: #e7198b;
  --ifm-color-primary-darker: #e7198b;
  --ifm-color-primary-darkest: #e7198b;
  --ifm-color-primary-light: #e7198b;
  --ifm-color-primary-lighter: #e7198b;
  --ifm-color-primary-lightest: #e7198b;
  --ifm-font-family-base: Roboto;
  --ifm-font-weight-bold: 700;
  --ifm-heading-font-weight-bold: 900;
  --ifm-code-font-size: 95%;
  --ifm-hero-font-color: #333333;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

.hero {
    background-image: url('/static/img/hero-image.png');
    background-size: 100%;
    color: #333333;
    font-weight: 900;
    padding-top: 1rem;
    
}
.hero__subtitle {
    padding-top: ;
}

.button {
    border: solid 3px #777777;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
